/* colors */
$blackOne: #3f3f40;
$blackSecondary: #2a2a2a;
$grayPrimary: #3b3b3b;
$graySecondary: #9f9f9f;
$grayTertiary: #f6f5f2;
$grayQuaternary: #808080;
$rosePrimary: #f71963;
$roseSecondary: #d81556;
$whitePrimary: #ffffff;
$whiteSecondary: #f0f0f0;
$whiteTertiary: #f6f5f2;

/* fontWeigth */
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;

/* positions and size */
$maxWidth: 1280px;
$marginCenterX: 0px auto;
